  cumulusmx:
    container_name: cumulusmx
    image: ghcr.io/hucknz/cumulusmx:v4
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - LANG=${LANG} # Optional. If not set will try to infer from Timezone or fallback to en_GB. 
      - MIGRATE=false # Optional for v4 only. Can be removed as migration will run automatically. If you don't want to migrate set to false or use force to force a migration to run.  
      - MIGRATE_CUSTOM_LOG_FILES="File1 File2 File3" # Optional for v4 only. Add any Custom Daily log files filenames you'd like migrated. Remove if not required. 
      - PORT=8998 # Optional. Specify the port here if you need to use a non-standard port. Defaults to 8998. Don't forget to update the port mapping too. 
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${DOCKERCONFDIR}/cumulusmx/data:/opt/CumulusMX/data
      - ${DOCKERCONFDIR}/cumulusmx/backup:/opt/CumulusMX/backup
      - ${DOCKERCONFDIR}/cumulusmx/log:/var/log/nginx
      - ${DOCKERCONFDIR}/cumulusmx/MXdiags:/opt/CumulusMX/MXdiags
      - ${DOCKERCONFDIR}/cumulusmx/config:/opt/CumulusMX/config
      - ${DOCKERCONFDIR}/cumulusmx/publicweb:/opt/CumulusMX/publicweb
      - ${DOCKERCONFDIR}/cumulusmx/templates:/opt/CumulusMX/web
      - ${DOCKERCONFDIR}/cumulusmx/reports:/opt/CumulusMX/Reports
    ports:
      - '8998:8998'
      - '8009:80'
    restart: unless-stopped
